---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Pagination from "@components/Pagination.astro";
import Card from "@components/Card";
import { SITE } from "@config";
import type { PostType } from "astro:content";

export interface Props {
  currentPage: number;
  totalPages: number;
  paginatedPosts: CollectionEntry<PostType>[];
  path: PostType
}

const { currentPage, totalPages, paginatedPosts, path } = Astro.props;
---

<Layout title={`Programming | ${SITE.title}`}>
  <Header activeNav={path} />
  <Main pageTitle=`${path[0].toUpperCase() + path.slice(1)} posts`>
    <ul>
      {
        paginatedPosts.map(({ data, slug }) => (
          <Card href={`/${path}/${slug}/`} frontmatter={data} />
        ))
      }
    </ul>
  </Main>

  <Pagination
    {currentPage}
    {totalPages}
    prevUrl={`/${path}${currentPage - 1 !== 1 ? "/" + (currentPage - 1) : ""}/`}
    nextUrl={`/${path}/${currentPage + 1}/`}
  />

  <Footer noMarginTop={totalPages > 1} />
</Layout>
